@charset "utf-8";
/* CSS Document */
html {
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	background-color: hsl(257, 40%, 49%);
	color: #fff;
	text-align: center;
	
}
.wrapper {
	width: 375px;
	margin: 0 auto;
	background-image: url('images/bg-mobile.svg');
	background-size: auto;
	background-repeat: no-repeat;
	
}
h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.8rem;
}
p {
	font-family: 'Open Sans', sans-serif;
	
}
header {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100px;
	align-items: center;
	margin-bottom: 10px;
}
header img {
		width: 150px;
		position: relative;
	}
.hero, .info {
	padding: 0px 20px;
}
.hero img {
	max-width: 100%;
}
.info {
	margin-bottom: 85px;
}
.info p {
	line-height: 28px;
	font-size: 1.2rem;
}
.info button {
	width: 250px;
	height: 40px;
	border-radius: 19px;
	color: hsl(257, 40%, 49%);
	border: none;
	margin-top: 20px;
	box-shadow: 5px 10px 18px #131313;
}
footer {
	display: grid;
	grid-template-columns: 75px 75px 75px;
	grid-template-rows: 50px;
	justify-content: center;
}

.icon-facebook {
	font-size: 2rem;
}
.icon-instagram {
	font-size: 2rem;
}
.icon-twitter {
	font-size: 2rem;
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}


@media screen and (min-width: 1440px) {
    
	.wrapper {
		min-width: 860px;
		margin-top: 140px;
  }
	
}
